/**
 * Colors
 */
:root {
    --color-primary: #673AB7;
    --color-primary-light: #9575CD;
    --color-primary-dark: #512DA8;
    --color-secondary: #FFEB3B;
    --color-secondary-light: #FFF176;
    --color-secondary-dark: #FBC02D;
    --color-text: #EDE7F6;
    --color-text-dark: #0D0724;
    --color-white: #EDE7F6;
    --color-black: #0D0724;

    /**
    * Poke Colors
    */
    --poke-color-black: #000;
    --poke-color-blue: #000;
    --poke-color-brown: #000;
    --poke-color-gray: #000;
    --poke-color-green: #000;
    --poke-color-pink: #000;
    --poke-color-purple: #000;
    --poke-color-red: #000;
    --poke-color-white: #000;
    --poke-color-yellow: #000;
}

/**
 * CSS Reset
 */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
}

/**
 * Poke Cards
 */
.poke-card {
    background-color: var(--color-primary);
    color: var(--color-text);
    width: 300px;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.poke-card .poke-card-info {
    width: 40%;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.poke-card .poke-card-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.poke-card .poke-card-info .poke-card-type {
    background-color: var(--color-white);
    color: var(--color-text-dark);
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    display: block;
}

.poke-card .poke-card-info .poke-card-id {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    padding: 0.5rem;
    display: block;
}

.poke-card .poke-card-img {
    width: 60%;
    padding-left: 0.25rem;
}

.poke-card .poke-card-img img {
    width: 100%;
    height: auto;
}

.util-hidden {
    display: none;
    visibility: hidden;
}

.container {
    margin: 0 16px;
}

header {
    background-color: var(--color-violet);
    margin-bottom: 32px;
}

header svg {
    display: none;
}

header .container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-height: 60px;
    margin-left: -4px;
}

header .main-menu {
    display: flex;
}

header .main-menu a {
    padding: 32px 8px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
}

header .main-menu a:hover {
    color: var(--color-rose);
}

header .main-menu .active {
    color: var(--color-rose);
}

.poke-container {
    max-width: 920px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.poke-container-main {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 16px;
}

.poke-container-main .poke-main {
    display: flex;
    flex-direction: row;
}

.poke-main .poke-img {
    width: 40%;
    height: 100%;
    margin-right: 32px;
}

.poke-main .poke-img img {
    width: 100%;
    max-width: 250px;
}

.poke-main .poke-info {
    background-color: var(--color-violet);
    color: var(--color-white);
    border-radius: 16px;
    width: 60%;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.poke-main .poke-info .left {
    width: 50%;
}

.poke-main .poke-info .right {
    width: 50%;
}

.poke-main .poke-info .poke-types span,
.poke-main .poke-info .poke-abilities span {
    background-color: black;
    border-radius: 8px;
    padding: 6px 8px;
}

.poke-main .poke-info .poke-types span.grass {
    background-color: green;
}

.poke-main .poke-info .poke-types span.poison {
    background-color: blueviolet;
}

.poke-stats {
    background-color: var(--color-violet);
    color: var(--color-white);
    border-radius: 16px;
    padding: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.poke-stats .poke-stats-left {
    margin-right: 8px;
}

.poke-stats .poke-stats-right {
    margin-left: 8px;
}

.poke-stats .poke-stats-left,
.poke-stats .poke-stats-right {
    width: 50%;
}

.label {
    font-size: 16px;
    font-weight: bold;
}

.bar-box .bar {
    width: 100%;
    height: 8px;
    background-color: var(--color-black);
    border-radius: 8px;
    margin: 4px 0 12px 0;
}

.bar-box .bar .bar-fill {
    background-color: var(--color-rose);
}

.bar-10 {
    width: 10%;
    height: 100%;
    border-radius: 8px;
}

.bar-20 {
    width: 20%;
    height: 100%;
    border-radius: 8px;
}

.bar-30 {
    width: 30%;
    height: 100%;
    border-radius: 8px;
}

.bar-40 {
    width: 40%;
    height: 100%;
    border-radius: 8px;
}

.bar-50 {
    width: 50%;
    height: 100%;
    border-radius: 8px;
}

.bar-60 {
    width: 60%;
    height: 100%;
    border-radius: 8px;
}

.bar-70 {
    width: 70%;
    height: 100%;
    border-radius: 8px;
}

.bar-80 {
    width: 80%;
    height: 100%;
    border-radius: 8px;
}

.bar-90 {
    width: 90%;
    height: 100%;
    border-radius: 8px;
}

.bar-100 {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 599px) {
    .container {
        margin: 0;
    }

    header {
        padding: 8px 0;
    }

    header .container {
        flex-direction: row-reverse;
    }

    header .logo {
        max-height: 40px;
    }

    header svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
        cursor:pointer;
        height: 25px;
        width: 50px;
        display: block;
    }

    header svg path {
        fill: none;
        stroke: white;
        stroke-width: 1px;
    }

    header #top, #bottom {
        stroke-dasharray: 30, 75.39;
        transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
    }

    header svg.active #top, header svg.active #bottom {
        stroke-dasharray: 75.39;
        stroke-dashoffset: -60;
    }

    header .main-menu {
        display: none;
    }

    .poke-container {
        justify-content: center;
    }

    .poke-card {
        width: 100%;
    }

    .poke-img-card {
        height: 200px;
        border-radius: 0;
    }

    .poke-title {
        border-radius: 0;
    }

}
