:root {
    --color-black: #181010;
    --color-violet: #84739c;
    --color-rose: #f7b58c;
    --color-violet-l: #ffefff;
    --color-white: rgba(255, 255, 255, 0.9);
}

body {
    background-color: var(--color-violet-l);
    color: var(--color-white);
}

.util-hidden {
    display: none;
    visibility: hidden;
}

.poke-container {
    max-width: 920px;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.poke-card {
    width: 200px;
    margin-bottom: 32px;
}

.poke-img-card {
    height: 150px;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-violet);
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.poke-title {
    background-color: var(--color-rose);
    padding: 8px;
    border-radius: 0 0 8px 8px;
    text-align: center;
}

.poke-title span {
    font-weight: 600;
    color: var(--color-white);
}
